@import "../../sass/main";

.link-card__link {
    text-decoration: none;
   
    &__box {
        width: 54.1rem;
        height: 30.8rem;
        border-radius: 15px;
        margin-top: 2.4rem;
        margin-left: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__title {
            font-size: $font-heading-2;
            font-weight: $font-weight-medium;
            line-height: $font-heading-1;
            letter-spacing: $font-letter-spacing-middle;
            color: $white-color;
            text-transform: uppercase;
        }
    
        &__subtitle {
            font-size: 15px;
            font-weight: $font-weight-medium;
            line-height: 22px;
            letter-spacing: $font-letter-spacing-high;
            color: $white-color;
            text-transform: uppercase;
            margin-right: 2.1rem;
    
             & span {
                font-size: 8px;
                color : $peach-color;
            }
        }

        &.large{
            height: 64rem;
        }
    }
}