@import "../../sass/variables";

.header  {
    height: 15.5rem;
    display: flex;
    align-items: center;

    &__logo {
        height: 2.4rem;
        width: 19.6rem;
        margin-right: 54.5rem;

        &__img {
            width: 100%;
        }
    }
}