@import "../../sass/variables";

.talk-about.encart-couleur {
    height: 29.2rem;
    justify-content: space-between;
    margin-top: 16rem;;
    margin-bottom: -7.2rem;
    text-align: left;

    &__text {
        width: 46rem;

        &__title {
            width: 26.8rem;
            font-size: $font-heading-2;
            line-height: $font-line-height-heading-2;
            font-weight: $font-weight-medium;
        }
    }
}