@import "../../sass/variables";

.bkground-img-about {
    background-position: right -350px bottom 1161px;
    background-image: url("../../assets/shared/desktop/bg-pattern-leaf.svg");
    background-repeat: no-repeat;
}